.mainBody{
    width: 277px;
    height: 277px;
    border: solid 1px black;
    margin: 200px 0 0 500px;
    background-color: grey;
}
.cell{
    width: 80px;
    height: 80px;
    border: solid 1px black;
    float: left;
    margin: 5px 5px 5px 5px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 40px;
    transition-duration: 200ms;
    position: relative;
}
.cell:hover{
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    background-color: red;
}
.cellItem{
    position: absolute;
    font-size: 130px;
    top: -37px;
    left: 3px;
}
