body{
    margin: 0px;
    padding: 0px;
    background-color: #E43B30;
}
@font-face {
    font-family: "font_logo";
    src: url("../fonts/BigShouldersStencilText-VariableFont_wght.ttf");
}
/* -------------------------------------------------------- Universal class */
/* -------------------------------------------------------- Universal class */
.width_unvrsl{
    margin: 0 auto;
    max-width: 1440px;
    height: auto;
}
.flex_unvrsl_clm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex_unvrsl_clm_str{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.flex_unvrsl_row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.margin_unvrsl{
    margin: 30px;
}
.back_img_unvrsl{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.text_decor{
    text-decoration: none;
    color: black;
}
.color_LM{
    color: #E43B30;
}
/* -------------------------------------------------------- HEADER */
/* -------------------------------------------------------- HEADER */
.header{
    background-image: url(../img/main_back.webp);
}
.n{
    padding-left: 50px;
}
.nav_head{
    height: 100px;
}
.nav_head__item{
    padding-right: 50px;
    font-family: arial;
    font-size: 16px;
}
.nav_head__item a{
    transition-duration: 200ms;
}
.nav_head__item a:hover{
    color: #E43B30
}
/* -------------------------------------------------------- LOGO */
/* -------------------------------------------------------- LOGO */
.logo{
    font-family: font_logo;
    font-size: 65px;
    font-weight: 600;
    letter-spacing: 5px;
}
/* .logo span{
    color: black;
} */
.arrow{
    margin-top: 310px;
    width: 50px;
    fill: #E43B30;
    transition-duration: 200ms;
}
.arrow:hover{
    fill: black;
}
/* -------------------------------------------------------- MAIN */
/* -------------------------------------------------------- MAIN */
.main{
    background-image: url(../img/LM_back.webp);
    background-repeat: repeat;
    background-position: top;
    background-size: contain;
}
/* -------------------------------------------------------- MEMBERS */
/* -------------------------------------------------------- MEMBERS */
.members__h{
    background-color: black;
    color: #E43B30;
    font-weight: lighter;
    font-family: font_logo;
    letter-spacing: 6px;
    font-size: 30px;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.members{
    background-color: black;
}
.members_item{
    width: 1050px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.members_item__txt{
    background-color: black;
    color: white;
    font-weight: lighter;
    font-family: font_logo;
    letter-spacing: 6px;
    font-size: 30px;
    align-self: flex-start;
    padding: 5px;
    transition-duration: 500ms;
}
.members_item__txt:hover{
    color: #E43B30;
}
.members_item__zhadan{
    background-image: url(../img/zhdn.jpg);
    margin: 50px 25px 25px 50px;
}
.members_item__turchinov{
    background-image: url(../img/trch.jpg);
    margin: 50px 50px 25px 25px;
}
.members_item__kadanov{
    background-image: url(../img/kdnv.jpg);
    margin: 50px 25px 50px 50px;
}
.members_item__chyryk{
    background-image: url(../img/ch.jpg);
    margin: 50px 50px 50px 25px;
}
.members_item__photo_unvrsl{
    width: 400px;
    height: 265px;
    justify-content: flex-end;
}
/* -------------------------------------------------------- ABOUT */
/* -------------------------------------------------------- ABOUT */
.about{
    background-color: black;
    width: 1050px;
    height: auto;
    color: white;
}
.about_item{
    padding: 50px;
}
.about_text{
    font-family: arial;
    font-size: 20px;
    color: white;
    line-height: 30px;
}
span{
    color: #E43B30;
}
/* -------------------------------------------------------- MUSIC */
/* -------------------------------------------------------- MUSIC */
.music{
    background-color: black;
}
.music_item{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.music_item__photo_unvrsl{
    width: 450px;
    height: 450px;
    justify-content: flex-end;
}
.music_item_1{
    background-image: url(../img/album1.jpg);
    margin: 50px 25px 25px 50px;
}
.music_item_2{
    background-image: url(../img/album2.jpg);
    margin: 50px 50px 25px 25px;
}
.music_item_3{
    background-image: url(../img/album3.jpg);
    margin: 50px 25px 50px 50px;
}
.music_item_4{
    background-image: url(../img/album4.jpg);
    margin: 50px 50px 50px 25px;
}
/* -------------------------------------------------------- VIDEO */
/* -------------------------------------------------------- VIDEO */
iframe{
    width: 1050px;
    height: 650px;
}
.video_item1{
    margin-bottom: 25px;
}
.video_item2{
    margin-bottom: 25px;
}
/* -------------------------------------------------------- FOOTER */
/* -------------------------------------------------------- Contact us */
.line_footer{
    width: 100%;
    height: 0px;
    border: solid 6px black;
}
.line_footer_red{
    width: 100%;
    height: 0px;
    border: solid 6px #E43B30;
}
.footer{
    background-color: white;
}
.footer__info__item{
    background-color: black;
    color: white;
    font-weight: normal;
    letter-spacing: 3px;
    font-family: font_logo;
    font-size: 30px;
    padding: 5px;
    margin: 5px;
}
/* -------------------------------------------------------- Follow us */
/* -------------------------------------------------------- Follow us */
.footer__info__social{
    margin-bottom: 50px;
}
.social__item{
    width: 40px;
    padding-right: 15px;
    transition-duration: 500ms;
}
.social__item:hover{
    fill: #E43B30;
}
/* -------------------------------------------------------- Copyright */
/* -------------------------------------------------------- Copyright */
.developer{
    align-self: flex-start;
    font-weight: lighter;
    font-family: font_logo;
    font-size: 15px;
    letter-spacing: 4px;
    color: #E43B30;
    background-color: black;
    padding: 5px;
    margin: 20px 0 20px 20px;
}
.dev_name{
    transition-duration: 500ms;
    color: white;
}
.dev_name:hover{
    color: #E43B30;
}
/* -------------------------------------------------------- Media */
/* -------------------------------------------------------- Media */
/* -------------------------------------------------------- 1050 - 550 */
@media screen and (min-width: 550px) and (max-width: 1050px){
    .header{
        background-image: none;
        background-color: #E43B30;
    }
    .nav_head{
        width: 100%;
        background-color: white;
    }
    .logo{
        color: black;
        font-size: 60px;
        letter-spacing: 5px;
        margin-top: 120px;
    }
    .arrow{
        margin-top: 100px;
        width: 50px;
        fill: black;
        margin-top: 40px;
    }
    .nav_head__item a:hover{
        color: #E43B30;
    }
    .arrow:hover{
        fill: white;
    }
    .members_item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    .members_item{
        width: 100%;
        height: 100%;
    }
    .members{
        width: 95%;
        height: 100%;
    }
    .members_item__zhadan{
        margin: 20px auto;
    }
    .members_item__turchinov{
        margin: 20px auto;
    }
    .members_item__kadanov{
        margin: 20px auto;
    }
    .members_item__chyryk{
        margin: 20px auto;
    }
    .about{
        width: 95%;
    }
    .music{
        width: 95%;
        height: 100%;
    }
    .music_item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 95%;
        height: 100%;
    }
    .music_item_1{
        margin: 10px auto;
    }
    .music_item_2{
        margin: 10px auto;
    }
    .music_item_3{
        margin: 10px auto;
    }
    .music_item_4{
        margin: 10px auto;
    }
    .video{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 95%;
        height: 100%;
    }
    .video_item1{
        width: 100%;
        height: 650px;
    }
    .video_item2{
        width: 100%;
        height: 650px;
    }
    .video_item3{
        width: 100%;
        height: 650px;
    }
    iframe{
        width: 100%;
        height: 100%;
    }
}
/* -------------------------------------------------------- 1050 - 550 */
/* -------------------------------------------------------- 550 - 320 */
@media screen and (min-width: 320px) and (max-width: 550px){
    .header{
        background-image: none;
        background-color: #E43B30;
    }
    .nav_head{
        width: 100%;
        height: auto;
        background-color: black;
        flex-direction: column;
        justify-content: center;
    }
    .n{
        padding-left: 0px;
    }
    .nav_head__item{
        text-align: center;
        width: 100%;
        padding: 10px 0 10px 0;
    }
    .nav_head__item a{
        color: #E43B30;
    }
    .logo{
        color: black;
        font-size: 60px;
        letter-spacing: 5px;
        margin-top: 120px;
    }
    .arrow{
        margin-top: 100px;
        width: 50px;
        fill: black;
        margin-top: 40px;
    }
    .nav_head__item a:hover{
        color: white;
    }
    .arrow:hover{
        fill: white;
    }
    .members_item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    .members_item{
        width: 100%;
        height: 100%;
    }
    .members{
        width: 95%;
        height: 100%;
    }
    .members_item__zhadan{
        margin: 20px auto;
    }
    .members_item__turchinov{
        margin: 20px auto;
    }
    .members_item__kadanov{
        margin: 20px auto;
    }
    .members_item__chyryk{
        margin: 20px auto;
    }
    .members_item__photo_unvrsl{
        width: 290px;
        height: 155px;
    }
    .members_item__txt{
        letter-spacing: 2px;
        font-size: 15px;
    }
    .about{
        width: 95%;
    }
    .music{
        width: 95%;
        height: 100%;
    }
    .music_item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 95%;
        height: 100%;
    }
    .music_item_1{
        margin: 10px auto;
    }
    .music_item_2{
        margin: 10px auto;
    }
    .music_item_3{
        margin: 10px auto;
    }
    .music_item_4{
        margin: 10px auto;
    }
    .music_item__photo_unvrsl{
        width: 250px;
        height: 250px;
        justify-content: flex-end;
    }
    .video{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 95%;
        height: 100%;
    }
    .video_item1{
        width: 100%;
        height: 350px;
    }
    .video_item2{
        width: 100%;
        height: 350px;
    }
    .video_item3{
        width: 100%;
        height: 350px;
    }
    iframe{
        width: 100%;
        height: 100%;
    }
    .developer{
        font-size: 9px;
        margin: 20px 0 20px 15px;
    }
    .footer__info__item{
        font-size: 20px;
        text-align: center;
    }
}
/* -------------------------------------------------------- 550 - 320 */
