body{
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(92,92,92,1) 42%, rgba(0,0,0,1) 100%);
    background-repeat: space;
}
/* ------------------------------Fonts */
@font-face {
    font-family: "DigitalClock";
    src: url("../fonts/LEDBDREV.TTF");
}
/* ------------------------------Fonts */
/*-------------------------------Universal classes*/
.flexRow{
    display: flex;
    flex-direction: row;
}
.flexClm{
    display: flex;
    flex-direction: column;
}
.border{
    border: solid 1px white;
}
.flexC{
    justify-content: center;
    align-items: center;
}
/*-------------------------------Universal classes*/
.main{
    margin: 210px auto;
    width: 600px;
    height: auto;
}
.lapWindow{
    width: 150px;
    height: 31px;
    color: white;
    font-family: DigitalClock;
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
    overflow-block: scroll;
}
.startFx{
    width: 600px;
    height: 50px;
    color: white;
    font-family: DigitalClock;
    font-size: 50px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}
.startFx__Visible{
    opacity: 1;
    transition: opacity 200ms;
    visibility: visible;
}
.time{

}
.minutes{
    margin: 0px 20px 0px 20px;
}
.time__vls{
    color: white;
    font-family: DigitalClock;
    font-size: 110px;
}
.buttons{
    width: 550px;
    justify-content: space-around;
    margin-top: 20px;
}
.buttons__main{
    width: 120px;
    background-color: black;
    color: white;
    font-family: arial;
    text-align: center;
    font-size: 25px;
}
