@font-face {
    font-family: "Work Sans";
    src: url("../fonts/WorkSans.ttf");
}
body{
    background-color: #18191A;
}
/* --------------------------------------------------------- Universal class */
.flex_clm_center{
    display: flex;
    flex-direction: column;
}
.flex_row_center{
    display: flex;
    flex-direction: row;
}
.img_universal{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
    color: black;
}
.font_XL{
    font-family: Work Sans;
    font-style: normal;
    font-weight: 700;
}
.font_L{
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
}
.font_M{
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
}
.font_S{
    font-family: Work Sans;
    font-style: normal;
    font-weight: 400;

}
.font_button{
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}
/* --------------------------------------------------------- Universal class */
/* --------------------------------------------------------- Header */
.header{
    height: 100px;
    background-color: #3A3B3C;
    display: flex;
    align-items: center;

}
.logo{
    font-size: 39px;
    line-height: 123.6%;
    color: #FF5300;
    margin-left: 134px;
}
.span_logo{
    color: white;
}
nav{
    display: flex;
    margin-left: 77px;
}
.nav_item{
    font-size: 20px;
    color: white;
    transition-duration: 300ms;
    margin-right: 38px;
}
.nav_item:hover{
    color: #FF5300;
}
.sun{
    fill: white;
    width: 20px;
    margin-left: 216px;
}
/* --------------------------------------------------------- Header */
/* --------------------------------------------------------- Main */
main{
    background-color: #242526;
    height: 735px;
}
.main__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 135px;
}
/* --------------------------------------------------------- Main */
/* --------------------------------------------------------- L */
.main__text__h{
    width: 440px;
    height: 177px;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0em;
    color: white;
    margin-bottom: 25px;
}
.main__text__text{
    width: 493px;
    height: 65px;
    color: white;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 25px;
}
.main__text__h__span{
    color: #FF5300;
}
.main__text button{
    width: 150px;
    height: 50px;
    background-color: #FF5300;
    font-size: 20px;
    box-shadow: 5px 5px 20px -7px #FF5300;
    margin-top: 20px;
}
/* --------------------------------------------------------- L */
/* --------------------------------------------------------- C */
.main__picture{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__picture__item{
    background-image: url(../img/img_main.png);
    width: 639px;
    height: 429px;
}
/* --------------------------------------------------------- C */
/* --------------------------------------------------------- R */
.main__social{
    align-items: flex-end;
    justify-content: center;
}
.main__social__item{
    background-color: #3A3B3C;
    margin: 2px 0px 2px 0px;
}
.main__social__item svg{
    fill: white;
    width: 40px;
    height: 40px;
    padding: 10px;
}
/* --------------------------------------------------------- R */

/* --------------------------------------------------------- Main */

/* --------------------------------------------------------- About Us */
.about_us h4{
    margin-top: 120px;
    margin-left: 220px;
    margin-bottom: 25px;
    color: white;
    font-size: 16px;
}
.about_us{
    justify-content: center;
    align-items: center;
}
.about__text__h{
    width: 494px;
    font-size: 39.06px;
    line-height: 123.6%;
    color: white;
    margin-bottom: 25px;
}
/* ------------------------------------------------ About Us Top */
.about_us__pt1{

}
.about__text__text{
    width: 493px;
    color: white;
    font-size: 16px;
    margin-bottom: 25px;
}
.about__text__h__span{
    color: #FF5300;
}
.about_us__picture__item{
    background-image: url(../img/img_main.png);
    width: 639px;
    height: 429px;
}
.about_us__text{
    color: white;
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 24px;
}
.about_us__text button{
    width: 150px;
    height: 50px;
    background-color: #FF5300;
    box-shadow: 5px 5px 20px -7px #FF5300;
    font-size: 20px;
    margin-top: 20px;
}
.about_us__pt2{
    height: 200px;
}
/* ------------------------------------------------ About Us Top */
/* ------------------------------------------------ About Us Btm */
.about_us__pt2{
    margin-top: 60px;
    margin-bottom: 120px;
}
.about_us__pt2__section{
    background-color: #242526;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.about_us__icon{
    background-color: #FF5300;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 20px -7px #FF5300;
    transition-duration: 300ms;
}
.about_us__icon:hover{
    background-color: #00ACFF;
    box-shadow: 5px 5px 20px -7px #00ACFF;
}
.about_us__icon svg{
    width: 35px;
    height: 35px;
    fill: white;
}
.about_us__items__txt{
    color: white;
    font-size: 16px;
    line-height: 150.6%;
    text-align: center;
    margin-top: 36px;
    margin-left: 37px;
    margin-right: 37px;
}

/* ------------------------------------------------ About Us Btm */

/* ------------------------------------------------ Expirience */

.expirience h4{
    color: white;
    font-size: 16px;
    margin-top: 83px;
    /* margin-left: 135px; */
}
.expirience{
    background-color: #242526;
}
.expirience_l{
    margin-left: 135px;
}
.expirience__text{
    margin-top: 25px;
}
.expirience__text__h{
    width: 494px;
    font-size: 39px;
    line-height: 123.6%;
    color: white;
    margin-bottom: 18px;
}
.expirience__text__text{
    width: 569px;
    color: white;
    font-size: 16px;
    margin-bottom: 25px;
}
.expirience_c{
    margin-top: 60px;
    margin-left: 15px;
}
.expirience_c__section{
    background-color: #3A3B3C;
    width: 270px;
    height: 250px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}
.expirience_r{
    margin-top: 83px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.expirience__section__h_item{
    font-size: 48px;
    line-height: 123.6%;
    color: white;
    margin-bottom: 18px;
}
.expirience__section__txt_item{
    font-size: 20px;
    line-height: 123.6%;
    color: #7B7B7B;
}
.expirience_l button{
    width: 150px;
    height: 50px;
    background-color: #FF5300;
    box-shadow: 5px 5px 20px -7px #FF5300;
    font-size: 20px;
    margin-top: 20px;
}
/* ------------------------------------------------ Expirience */
.team{
    justify-content: center;
    align-items: center;
}
.team h4{
    color: white;
    font-size: 16px;
    margin-top: 120px;
}
.team__h{
    width: 446px;
    font-size: 39px;
    line-height: 123.6%;
    color: white;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 60px;
}
.team__member{
    /* margin-bottom: 120px; */
    margin-left: 30px;
}
.team__member__item{
    width: 270px;
    height: 350px;
    background-color: #242526;
    margin-right: 30px;
}
.main__social__expr{
    align-items: flex-end;
    justify-content: center;
}
.main__social__item__expr{
    background-color: #FF5300;
    margin: 2px 0px 2px 0px;
    opacity: 0;
    transition-duration: 300ms;
}
.main__social__item__expr svg{
    fill: white;
    width: 40px;
    height: 40px;
    padding: 10px;
}
.team__member__item__img1{
    background-image: url(../img/member1.webp);
    width: 270px;
    height: 250px;
    align-items: flex-end;
}
.team__member__item__img1:hover .main__social__item__expr{
    opacity: 1;
}
.main__social__item__expr:hover{
    background-color: white;
}
.main__social__item__expr svg:hover{
    fill:#FF5300;
}
.team__member__item__img2{
    background-image: url(../img/member2.webp);
    width: 270px;
    height: 250px;
    align-items: flex-end;
}
.team__member__item__img2:hover .main__social__item__expr{
    opacity: 1;
}
.team__member__item__img3{
    background-image: url(../img/member3.webp);
    width: 270px;
    height: 250px;
    align-items: flex-end;
}
.team__member__item__img3:hover .main__social__item__expr{
    opacity: 1;
}
.team__member__item__img4{
    background-image: url(../img/member4.webp);
    width: 270px;
    height: 250px;
    align-items: flex-end;
}
.team__member__item__img4:hover .main__social__item__expr{
    opacity: 1;
}
.team__member__item__h{
    color: white;
    font-size: 20px;
    line-height: 123.6%;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 12px;
}
.team__member__item__txt{
    color: #7B7B7B;
    font-size: 16px;
    line-height: 150.6%;
    text-align: center;
}
/* ------------------------------------------------ Expirience */
/* ------------------------------------------------ Our Works */
.our_work{
    justify-content: center;
    align-items: center;
}
.our_work h4{
    color: white;
    font-size: 16px;
    margin-top: 120px;
    margin-bottom: 25px;
}
.our_work__h{
    width: 649px;
    font-size: 39px;
    line-height: 123.6%;
    color: white;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
}
.our_work nav{
    width: 1169px;
    justify-content: center;
    margin-bottom: 60px;
}
.nav__item{
    font-size: 20px;
    line-height: 123.6%;
    color: #7B7B7B;
    transition-duration: 300ms;
    margin-right: 43px;
}
.nav__item:hover{
    color: #FF5300;
}
.our_work__images__clm{
    width: 370px;
    height: 870px;
}
.our_work__images__5__1{
    width: 370px;
    height: 370px;
    background-image: url(../img/work1.webp);
}
.our_work__images__5__4{
    width: 370px;
    height: 370px;
    background-image: url(../img/work2.webp);
}
.our_work__images__7__2{
    width: 370px;
    height: 470px;
    background-image: url(../img/work3.webp);
}
.our_work__images__7__3{
    width: 370px;
    height: 470px;
    background-image: url(../img/work4.webp);
}
.our_work__images__7__5{
    width: 370px;
    height: 470px;
    background-image: url(../img/work5.webp);
}
.bckgrd_unvrsl{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.hvr_img{
    width: 93%;
    height: 93%;
    background-color: #FF5300E5;
    opacity: 0;
    justify-content: center;
    align-items: center;
    transition-duration: 300ms;
    margin-left: 13px;
    margin-top: 13px;
}
.hvr_img__txt{
    color: white;
    font-size: 16px;
    margin-top: 30px;
}
.hvr_img__item{
    fill: white;
    width: 40px;
    height: 40px;
}
.our_work__images_untd:hover .hvr_img{
    opacity: 1;
}
/* ------------------------------------------------ Our Works */
/* ------------------------------------------------ Clients Feedback */
.fdbck{
    background-color: #242526;
    align-items: center;
}
.fdbck h4{
    color: white;
    font-size: 16px;
    margin-top: 60px;
    margin-bottom: 25px;
}
.fdbck__h{
    width: 460px;
    font-size: 39px;
    line-height: 123.6%;
    color: white;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
}
.fdbcks__item1{
    width: 470px;
    height: 250px;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #FF5300;
    margin-right: 190px;
}
.fdbcks__item2{
    width: 470px;
    height: 250px;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #FF5300;
}
.fdbcks__item__name_img{
    margin-top: 25px;
    position: relative;
}
.fdbcks__item__img1{
    width: 80px;
    height: 80px;
    left: -40px;
    position: absolute;
    background-image: url(../img/fedbk1.webp);
}
.fdbcks__item__name{
    width: 307px;
    height: 106px;
    top: 10px;
    left: 100px;
    position: absolute;
    color: white;
    font-size: 25px;
    line-height: 123.6%;
}
.fdbcks__item__name p{
    font-family: Work Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
}
.fdbcks__item__txt{
    width: 370px;
    height: 106px;
    color: white;
    font-size: 16px;
    line-height: 150.6%;
    margin-bottom: 25px;
    margin-left: 65px;
}
.fdbcks__item__img2{
    width: 80px;
    height: 80px;
    left: -40px;
    background-image: url(../img/fedbk2.webp);
    position: absolute;
}
/* ------------------------------------------------ Clients Feedback */
/* ------------------------------------------------ Our Blog */
.blog{
    justify-content: center;
    align-items: center;
}
.blog h4{
    color: white;
    font-size: 16px;
    margin-top: 120px;
    margin-bottom: 25px;
}
.blog__h{
    width: 542px;
    font-size: 39px;
    line-height: 123.6%;
    color: white;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
}
.posts{
    width: 1169px;
    margin-bottom: 60px;
    justify-content: space-between;
}
.posts__l{
    background-color: #242526;
    width: 570px;
    height: 294px;
    margin-right: 30px;
}
.posts__l__l{
    margin-left: 25px;
}
.posts__l__l h4{
    color: #FF5300;
    font-size: 16px;
    line-height: 150.6%;
    margin-top: 25px;
    margin-bottom: 18px;
}
.posts__l__l__h{
    width: 308px;
    color: white;
    font-size: 25px;
    line-height: 123.6%;
    margin-bottom: 30px;
}
.posts__l__l__card__img{
    width: 80px;
    height: 80px;
    background-image: url(../img/card1.webp);
    margin-right: 10px;
}
.posts__l__l__card__info{
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 19px;
}
.posts__l__l__card__info__name{
    color: white;
}
.posts__l__l__card__info__time{
    color: #7B7B7B;
}
.posts__l__r{
    width: 164px;
    height: 164px;
    background-image: url(../img/fdbk1.webp);
    margin-left: 48px;
    margin-top: 25px;
}
.posts__r{
    background-color: #242526;
    width: 570px;
    height: 294px;
}
.posts__r__r{
    width: 164px;
    height: 164px;
    background-image: url(../img/fdbk2.webp);
    margin-left: 48px;
    margin-top: 25px;
}
.posts__r__l__card__img{
    width: 80px;
    height: 80px;
    background-image: url(../img/card2.webp);
    margin-right: 10px;
}
.carrousel{
    width: 87px;
    height: 15px;
    justify-content: space-between;
    margin-bottom: 60px;
}
.carrousel__circle{
    background-color: #7B7B7B;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    transition-duration: 300ms;
}
.carrousel__circle:hover{
    background-color: #FF5300;
}
.carrousel__square{
    background-color: #373737;
    width: 49px;
    height: 15px;
    border-radius: 7.5px;
}
/* ------------------------------------------------ Our Blog */
/* ------------------------------------------------ Contact Us */
.contact{
    align-items: center;
}
.contact h4{
    color: white;
    font-size: 16px;
    margin-top: 60px;
    margin-bottom: 25px;
}
.contact_card{
    width: 370px;
    height: 230px;
    background-color: #242526;
    margin: 0px 15px 0px 15px;
}
.contact_card{
    align-items: flex-start;
}
.contact_card__logo_row{
    justify-content: flex-start;
    margin: 18px 0px 45px 18px;
}
.card_logo__icon{
    background-color: #FF5300;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 20px -7px #FF5300;
    transition-duration: 300ms;
    margin-right: 18px;
}
.card_logo__icon:hover{
    background-color: #00ACFF;
    box-shadow: 5px 5px 20px -7px #00ACFF;
}
.card_logo__icon svg{
    width: 35px;
    height: 35px;
    fill: white;
}
.card_h{
    align-items: flex-start;
}
.card_h__h3{
    font-size: 25px;
    line-height: 123.6%;
    color: white;
}
.card_h__h2{
    font-size: 31.25px;
    line-height: 123.6%;
    color: #FF5300;
}
.contact_card__mail_row{
    font-size: 20px;
    line-height: 123.6%;
    color: white;
    margin-left: 18px;
}
.contact_card__mail_row span{
    color: #FF5300;
}
.contact_form__picture{
    width: 532px;
    height: 333px;
    background-image: url(../img/contact_img.webp);
    margin-right: 40px;
}
.contact_form__forms{
    width: 670px;
    height: 333px;
}
.contact_form__forms__s{
    margin-bottom: 18px;
}
.contact_form__s{
    width: 330px;
    height: 60px;
    background-color: #242526;
    margin-right: 10px;
    color: white;
    font-size: 16px;
    line-height: 150.6%;
    border: none;
    padding-left: 20px;
}
.contact_form__xl{
    margin-top: 10px;
    font-size: 16px;
    line-height: 150.6%;
}
.contact_form__xl input{
    width: 660px;
    height: 163px;
    background-color: #242526;
    border: none;
    color: white;
    padding-left: 20px;
}
.contact_form__h{
    /* width: 542px; */
    font-size: 39px;
    line-height: 123.6%;
    color: white;
    text-align: center;
    margin-top: 60px;
    margin-left: 379px;
    margin-bottom: 18px;
}
.contact button{
    width: 150px;
    height: 50px;
    background-color: #FF5300;
    box-shadow: 5px 5px 20px -7px #FF5300;
    font-size: 20px;
    margin-top: 29px;
    margin-left: 53px;
}
/* ------------------------------------------------ Contact Us */
/* ------------------------------------------------ Map */
.contact iframe{
    width: 1170px;
    height: 450px;
    margin-top: 60px;
}
/* ------------------------------------------------ Map */
/* ------------------------------------------------ Partners */
.partners{
    align-items: center;
    margin-top: 60px;
    margin-bottom: 120px;
}
.partners__item{
    width: 1170px;
    height: 172px;
}
.partners__item__img{
    width: 223px;
    height: 170px;
    margin-left: 60px;
    margin-right: 60px;
}
.partner_one{
    background-image: url(../img/partner1.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.partner_two{
    background-image: url(../img/partner2.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.partner_three{
    background-image: url(../img/partner3.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.partner_four{
    background-image: url(../img/partner4.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
/* ------------------------------------------------ Partners */
/* ------------------------------------------------ Footer */
footer{
    width: 100%;
    margin: 0 auto;
}
.site_map{
    width: 100%;
    height: 360px;
    background-color: #373737;
    justify-content: center;
}
.site_map__items{
    width: 1170px;
    justify-content: space-between;
    margin-left: 135px;
}
.site_map__item{
    width: 263px;
}
.site_map__item h4{
    font-size: 39.06px;
    line-height: 123.6%;
    color: white;
    margin-bottom: 25px;
}
.site_map__digiency__txt{
    color: white;
    font-size: 16px;
    line-height: 150.6%;
    text-align: left;
}
.site_map__digiency__social{
    margin-top: 20px;
}
.site_map__digiency__social__item{
    background-color: white;
    margin-right: 25px;
    transition-duration: 300ms;
}
.site_map__digiency__social__item svg{
    fill: #FF5300;
    width: 40px;
    height: 40px;
    padding: 10px;
}
.site_map__digiency__social__item svg:hover{
    fill: white;
}
.site_map__digiency__social__item:hover{
    background-color: #FF5300;
}
.site_map__company__item{
    font-size: 16px;
    line-height: 150.6%;
    color: white;
    margin-bottom: 10px;
}
.site_map__services__item{
    font-size: 16px;
    line-height: 150.6%;
    color: white;
    margin-bottom: 10px;
}
.site_map__newsletter__txt{
    color: white;
    font-size: 16px;
    line-height: 150.6%;
    text-align: left;
    margin-bottom: 25px;
}
.site_map__newsletter__send{
    width: 270px;
    height: 60px;
    border: solid 1px #FF5300;
}
.site_map__newsletter__send__input{
    width: auto;
    height: 60px;
}
.site_map__newsletter__send__input input{
    height: 100%;
    background-color: #373737;
    border: solid 1px #FF5300;
    text-align: center;
    color: #7B7B7B;
}
.site_map__newsletter__send__button{
    width: 80px;
    height: 60px;
    background-color: #FF5300;
    justify-content: center;
    align-items: center;
}
.site_map__newsletter__send__button svg{
    width: 20px;
    height: 20px;
    fill: white;
}
.site_map__newsletter button{
    border: none;
    transition-duration: 300ms;
}
.site_map__newsletter button:hover{
    background-color: white;
}
.site_map__newsletter button:hover .send_logo__button{
    fill: #FF5300;
}
.copyright{
    width: 100%;
    height: 60px;
    background-color: #FF5300;
    align-items: center;
}
.copyright__logo{
    width: 20px;
    height: 20px;
    fill: white;
    margin-left: 135px;
}
.copyright__txt{
    font-size: 16px;
    line-height: 150.6%;
    color: white;
    margin-left: 20px;
}
.copyright__arrow{
    width: 30px;
    height: 30px;
    fill: white;
    margin-left: 700px;
    transition-duration: 300ms;
}
.copyright__arrow:hover{
    fill: #7B7B7B;
}
