.body{
    margin: 0px;
    padding: 0px;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-style: solid; */

}
            /* --------------- HEADER */
            /* --------------- */
.head{
    width: 350px;
    height: 60px;
    background-color: #211F1F;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head_item{
    font-family: arial;
    font-size: 30px;
    color: white
}
            /* --------------- MAIN SPACE*/
            /* --------------- MAIN SPACE*/
.major{
    margin-top: 20px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
            /* --------------- PHOTO + ICONS */
            /* --------------- PHOTO + ICONS */
.photo{
    width: 100%;
    height: 400px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    /* border-style: solid; */
    display: flex;
    justify-content: center;
    background-image: url(../img/phone_1.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.photo:hover{
    background-image: url(../img/phone2_2.png);
}
            /* --------------- ICONS */
.icons{
    width: 90%;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-style: solid; */
}
.icon1{
    width: 70px;
    height: 25px;
    color: white;
    background-color: #F84146;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.85;
}
.text_icon_1{
    font-family: arial;
    font-size: auto;
}
.icons_2{
    width: 25px;
    height: 60px;
    /* border-style: solid; */
    margin-right: 15px;
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heart{
    width: 25px;
    height: 25px;
    /* border-style: solid; */
    fill: #FFA800;
    opacity: 0.85;
    margin-top: 30px;
    margin-bottom: 20px;
}
.scales{
    width: 25px;
    height: 23px;
    /* border-style: solid; */
    fill: grey;
    opacity: 0.85;
}
.heart:hover{
    background-color: white;
    border-style: solid;
    color: #FFA800;
}
.scales:hover{
    background-color: white;
    border-style: solid;
    color: grey;
}
            /* --------------- COLOR SELECTOR*/
.colors{
    width: 120px;
    height: 25px;
    margin-top: 5px;
    margin-left: 8px;
    margin-bottom: 10px;
    /* border-style: solid; */
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.red{
    width: 20px;
    height: 20px;
    background-color: #FFCC99;
    border-radius: 50px;
    margin-right: 3px;
}
.green{
    width: 20px;
    height: 20px;
    background-color: #576855;
    border-radius: 50px;
    margin-right: 3px;
}
.blue{
    width: 20px;
    height: 20px;
    background-color: #3332FF;
    border-radius: 50px;
    margin-right: 3px;
}
.graphite{
    width: 20px;
    height: 20px;
    background-color: #333333;
    border-radius: 20px;
    margin-right: 3px;
}
.grey{
    width: 20px;
    height: 20px;
    background-color: #CCCCCC;
    border-radius: 50px;
}
.red:hover{
    border: 2px solid grey;
    padding: 1px;
}
.green:hover{
    border: 2px solid grey;
    padding: 1px;
}
.blue:hover{
    border: 2px solid grey;
    padding: 1px;
}
.graphite:hover{
    border: 2px solid grey;
    padding: 1px;
}
.grey:hover{
    border: 2px solid grey;
    padding: 1px;
}
            /* --------------- TEXT ABOUT*/
.text{
    font-family: arial;
    width: 100%;
    height: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}
            /* --------------- REVIEWS */
.main_reviews{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
}
.rate{
    width: 65px;
    height: 15px;
    /* border-style: solid; */
    display: flex;
    justify-content: space-between;
    margin-right: 7px;
}
.star{
    width: 25px;
    height: 13px;
    border-radius: 25px;
    fill: #FFA800;
}
.star:hover{
    border: 1px solid grey;
    padding: 1px;
}

.reviews{
    width: 70px;
    height: 15px;
    /* border-style: solid; */
    font-family: arial;
    font-size: 13px;
    vertical-align: middle;
}
            /* --------------- PRICE */
.main_price{
    width: 100%;
    height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
}
.price{
    width: 100px;
    height: 24px;
    /* border-style: solid; */
    font-size: 20px;
    font-family: arial;
    letter-spacing: 1px;
}
.cart_icon{
    width: 17px;
    height: 17px;
    /* border-style: solid; */
    margin-right: 25px;
    fill: green;
}
.cart_icon:hover{
    fill: red;
}
            /* --------------- STATUS */
.main_status{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 15px;
}
.status{
    width: auto;
    height: 10px;
    /* border-style: solid; */
    font-family: arial;
    font-size: 10px;
    color: green;

}
.status_icon{
    width: 20px;
    height: 20px;
    /* border-style: solid; */
    fill: green;
    margin-left: 10px;
}
