.chessBoard{
    width: 400px;
    height: 400px;
    border-style: solid;
    margin-top: 25px;
}
.chessElement{
    width: 50px;
    height: 50px;
    float: left;
    outline: solid 1px red;
}
.black{
    background-color: black;
}
